@use "./styles/partials/fonts" as *;
@use "./styles/partials/colors" as *;
@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/button" as *;
@use "./styles/partials/input" as *;
@use "./styles/partials/typography.scss" as *;

// -- global resets --
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  @include small-typography;
  @include large-typography;
  font-family: $primary-typeface-regular;
  font-family: $primary-typeface-bold;
  font-family: $primary-typeface-light;
  font-family: $primary-typeface-italic;
  font-family: $secondary-typeface-medium;
  font-family: $secondary-typeface-bold;
  font-family: $secondary-typeface-book;
  color: $primary-color-black;
  background-color: $primary-color-white;
}

.App {
  position: relative;
}
