@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;


@mixin button($bg-color, $text-color) {
  background-color: $bg-color;
  color: $text-color;
  border: .1rem solid $primary-color-black;
  border-radius: 10rem;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.6rem;
  width: fit-content;
  margin-bottom: 0;
  height: 3.6rem;
  font-size: 1.5rem;
  font-family: $secondary-typeface-medium;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  text-decoration: none;
  transition: all .5s ease-in-out;
  @content;

  &:hover {
    border-radius: 2rem;
  }
}

@mixin button__nav($bg-color, $text-color) {
  background-color: $bg-color;
  color: $text-color;
  border: .1rem solid $primary-color-black;
  border-radius: 10rem;
  outline: none;
  display: block;
  padding: 0 1.6rem;
  font-family: $secondary-typeface-medium;
  width: 100%;
  margin-bottom: 0;
  height: 3.6rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  text-decoration: none;
  transition: all .25s ease-in-out;
  @content;

  &:hover {
    border-radius: 2rem;
  }
}

  @mixin button--quiz {
    background-color: $primary-color-white;
    color: $primary-color-black;
    border: .1rem solid $primary-color-black;
    border-radius: 10rem;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1.6rem;
    width: 25rem;
    margin-bottom: 0;
    height: 3.6rem;
    font-size: 1.5rem;
    font-family: $secondary-typeface-medium;
    white-space: nowrap;
    cursor: pointer;
    text-decoration: none;
    transition: all .5s ease-in-out;
    @content;
  
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
      box-shadow: .1rem .1rem .1rem rgb(0 0 0 / 0.2);
    }
}
