@font-face {
    font-family: "PPNeueMontreal-Medium";
    src: url("../../assets/fonts/PPNeueMontreal-Medium.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "PPNeueMontreal-Bold";
    src: url("../../assets/fonts/PPNeueMontreal-Bold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "PPNeueMontreal-Book";
    src: url("../../assets/fonts/PPNeueMontreal-Book.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "EditorialNew-Regular";
    src: url("../../assets/fonts/PPEditorialNew-Regular.otf") format("opentype");
    font-style: normal;
  }

  @font-face {
    font-family: "EditorialNew-Light";
    src: url("../../assets/fonts/PPEditorialNew-Ultralight.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: "EditorialNew-Light-Italic";
    src: url("../../assets/fonts/PPEditorialNew-UltralightItalic.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: "EditorialNew-Bold";
    src: url("../../assets//fonts/PPEditorialNew-Ultrabold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }