// break points
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// typeface
$primary-typeface-regular: "EditorialNew-Regular";
$primary-typeface-bold: "EditorialNew-Bold";
$primary-typeface-light: "EditorialNew-Light";
$primary-typeface-italic: "EditorialNew-Light-Italic";
$secondary-typeface-medium: "PPNeueMontreal-Medium";
$secondary-typeface-bold: "PPNeueMontreal-Bold";
$secondary-typeface-book: "PPNeueMontreal-Book";

